body {
    background: url("poza_background - Copy.jpg") no-repeat fixed;
    background-size: cover;
    font-family: Verdana, Arial, Georgia, Times, serif;
    color: deeppink;
}

.app-header {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 150px;
    opacity: 0.4;
}

#navMenu ul{
    margin: 0;
    padding: 0;
    line-height: 30px;


}

#navMenu li{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
    background-color: rgba(230, 165, 26, 0.61);
    border-radius: 10px;

}

#navMenu ul li a{
    text-align: center;
    font-family: "Comic Sans MS", Times, serif;
    text-decoration: none;
    height: 30px;
    width: 150px;
    display: block;
    color: midnightblue;
    border: 1px solid rgba(85, 107, 47, 0.6);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}
#navMenu ul ul{
    position: absolute;
    visibility: hidden;
    top: 32px;
    display: inline;
    border-radius: 10px;
}

#navMenu ul li:hover ul{
    visibility: visible;
}

/******************/
#navMenu li:hover{
    background-color: darkgreen;
}

#navMenu ul li:hover ul li a:hover{
    background: darkgreen;
    color: whitesmoke;
}

#navMenu a:hover{
    color: whitesmoke;

}

.clearFloat{
    clear: both;
    margin: 0;
    padding: 0;
}